.haeader_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #1b1b1b;
  padding: 65px 65px 0px 65px;
}

.header_img {
  width: 140px;
  height: 30px;
}

.header_links {
  display: flex;
  align-items: center;
  gap: 24px;
  /* margin-right: 24px; */
}

.header_link {
  padding: 0px 0.5rem;

  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.header_link:hover {
  color: #d3f12a;
}

@media (max-width: 550px) {
  .haeader_container {
    padding: 75px 20px 0px 20px;
  }

  .header_img {
    width: 100px;
    height: 20px;
    object-fit: cover;
  }
}

@media (max-width: 330px) {
  .haeader_container {
    padding: 75px 2px 0px 2px;
  }

  .header_links {
    display: flex;
    align-items: center;
    gap: 0px;
  }
}
